ARGUS_KEY_TEST=your_test_key_here
ARGUS_KEY_LINUX=your_linux_agent_key_here
ARGUS_KEY_MACOS=your_macos_agent_key_here
ARGUS_KEY_WINDOWS=your_windows_agent_key_here
ARGUS_KEY_DASHBOARD=your_dashboard_key_here
